body, ul,li,p{
  margin: opx;
  padding: opx;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial; 
 }

 .logo{
width: 200px;
}

a{
    text-decoration: name;
    color: white;
}


header{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
menu{
    display: flex;
}
menu li{
    margin-left: 10px;
}
menu li a{
    display: block;
    padding: 10px;
    background-color: darkorange;
}

                     /**************** fazendo o corpo do site ************************/

.flex{
    min-height: 100vh;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
}
/* ajustando o tamanho da img */
 .imagem{
    width: 400px;
    height: auto;
}
/* ajustando os intens da pagina */ 
.item{
     display: flex;
     /*justify-content: flex-end; */
     align-items: flex-start;
     border: 2px solid black;
     margin: 10px;
}
.paragrafo{
     padding: 10px;
     text-align: justify;
}